<div *ngIf="selectedNodeServer" class="column">
  <div *ngIf="selectedNodeServer.type !== 'unmanaged'" class="col-md-20 col-md-20 center-block" align="center">
    <div class="thumbnail">
        <h2 class="align-top" align="center">{{selectedNodeServer.name}}({{selectedNodeServer.profileNum}})</h2>
        <p align="center">Current Status:
          <span *ngIf="selectedNodeServer.isConnected" class='label label-success'>Connected</span>
          <span *ngIf="!selectedNodeServer.isConnected" class='label label-danger'>Disconnected</span>
          <br />
        Current Version: <strong>{{selectedNodeServer.currentVersion}}</strong><br />
        Time Started: <strong>{{selectedNodeServer.timeStarted !== '0' ? (selectedNodeServer.timeStarted | date: 'medium') : 'Not Running'}}</strong><br />
        Uptime: <strong>{{selectedNodeServer.timeStarted !== '0' ? uptime : 'None'}}</strong><br />
        </p>
        <div class="btn-group btn-group-justified">
          <button class="btn btn-default" (click)="showControl('nodes')" style="width: 20%" role="button">Nodes <span class="badge">{{selectedNodeServer.nodes.length}}</span></button>
          <button class="btn btn-default" (click)="showControl('custom')" style="width: 20%" role="button">Configuration</button>
          <button class="btn btn-default" (click)="showControl('control')" style="width: 20%" role="button">Control</button>
          <button class="btn btn-default" (click)="showControl('log')" style="width: 20%" role="button">Log</button>
          <button class="btn btn-default" (click)=showConfirm(selectedNodeServer) style="width: 20%" role="button">Delete</button>
        </div>
    </div>
    <div *ngIf="selectedNodeServer.notices.length > 0">
      <hr />
      <app-nsnotices></app-nsnotices>
    </div>
  </div>
  <div *ngIf="selectedNodeServer.type === 'unmanaged'" class="col-md-20 col-md-20 center-block" align="center">
    <div class="thumbnail">
        <h2 class="align-top" align="center">{{selectedNodeServer.name}}({{selectedNodeServer.profileNum}})</h2>
        <p align="center">Current Status: <span class='label label-danger'>Unmanaged</span></p>
    </div>
  </div>
</div>
<hr />
<app-nodedetails></app-nodedetails>
<app-nscontrol></app-nscontrol>
<app-customdetails></app-customdetails>
<app-nslog></app-nslog>
