<div *ngIf="nsdetails.currentlyEnabled === 'custom'">
  <div *ngIf="nsdetails.selectedNodeServer">
    <h2>Advanced Configuration</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Option</td>
                <td>Value</td>
            </tr>
        </thead>
        <tbody>
            <tr style="margin-bottom: 10px;">
                <td>shortPoll</td>
                <td><input class="form-control input-sm" type="number" #short value={{nsdetails.selectedNodeServer.shortPoll}}></td>
                <td align="middle"><button class="btn btn-primary btn-xs" (click)="nsdetails.savePolls(short.value, long.value)">Save</button></td>
            </tr>
            <tr style="margin-bottom: 10px;">
                <td>longPoll</td>
                <td><input class="form-control input-sm" type="number" #long value={{nsdetails.selectedNodeServer.longPoll}}></td>
                <td align="middle"><button class="btn btn-primary btn-xs" (click)="nsdetails.savePolls(short.value, long.value)">Save</button></td>
            </tr>
        </tbody>
    </table>
    <br />
    <h2>Custom Configuration Parameters</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Key</td>
                <td>Value</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let key of nsdetails.arrayOfKeys; let i = index" style="margin-bottom: 10px;">
                <td>{{key}}</td>
                <td><input class="form-control input-sm" type="text" [(ngModel)]="nsdetails.customParams[key]"></td>
                <td><button class="btn btn-primary btn-xs" (click)="nsdetails.removeCustom(key, i)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div align="center" style="margin-bottom: 10px;">
      <button class="btn btn-primary btn-xs" (click)="nsdetails.sendCustom()">Save Changes</button>
    </div>
    <div class="addCustom" align="center">
      <input #newkey id="newkey" placeholder="key" value= "" style="width:16%" />
      <input #newvalue id="newvalue" placeholder="value" value="" style="width:41%" />
      <button class="btn btn-primary btn-xs" (click)="addCustom(newkey.value, newvalue.value)">Add Custom Parameter</button>
    </div>
  </div>
</div>
<br />
