<form [formGroup]="settingsForm" class="form-horizontal">
  <fieldset>
    <legend>ISY Settings</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Address / Hostname</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" formControlName="isyHost">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Port</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" formControlName="isyPort">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" formControlName="isyUsername">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" formControlName="isyPassword" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox" formControlName="isyHttps"> Use HTTPS
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>MQTT Settings</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Address / Hostname</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" formControlName="mqttHost">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">MQTT Port</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" formControlName="mqttPort">
      </div>
    </div>
  </fieldset><br  />
  <fieldset>
    <legend>Firmware Management</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Use Beta Firmware</label>
      <div class="col-lg-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" formControlName="useBeta">
          </label>
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary pull-right" value="Save" (click)="saveSettings(getDirtyValues(settingsForm))">
  </fieldset>
</form>
