
<footer class="footer">
  <br>
  <div *ngIf="this.authService.loggedIn()" class="container text-center">
    <div class="card" style="max-width:800px;margin-left:auto; margin-right:auto;">
        <div class="card-body">
          <div *ngIf="upgrading">
            <h3>Upgrading... Please wait.</h3>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="(Math.round(progress.percent*100)) + '%'">{{Math.round(progress.percent*100)}}%</div>
            </div>
          </div>
          <p align="center">Polyglot Version <b>{{pgVersion}}</b> Status: <span class='badge badge-secondary'>{{mqttConnected ? 'Connected' : 'Disconnected'}}</span>
            <br />Frontend Version: <b>{{version}}</b>
            <br />ISY Version: <b>{{isyVersion}}</b>
            <br />Uptime: <strong>{{mqttConnected ? uptime : 'Not Connected'}}</strong>
            <br>(c) {{year}} UDI<br>
            <span *ngIf="settings.isPolisy">Running on Polisy<br></span>
            <a href="https://github.com/UniversalDevicesInc/polyglot-v2/blob/master/README.md">Documentation</a><br>
          </p>
          <div *ngIf="updateAvail && !upgrading">
            <button class="btn btn-primary" (click)=showConfirm()> Upgrade Available Click here to update to {{currentVersion}} </button>
          </div>
        </div>
    </div>
  </div>
</footer>
