<div *ngIf="gotSettings">
  <div *ngIf="!isyConnected" class="alert alert-dismissible alert-danger text-center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p *ngIf="isyFound">ISY automatically discovered at {{isyHttps ? 'https' : 'http'}}://{{isyHost}}:{{isyPort}} however the username and password need to be set in the settings menu.</p>
    <p *ngIf="!isyFound">ISY was not automatically discovered on your local network. Please configure it in the settings menu now.</p>
  </div>
</div>
<div class="collection">
<h2 align=center>NodeServers</h2>
  <div *ngFor="let nodeServer of nodeServers" class="column">
    <div *ngIf="nodeServer.type === 'local'" class="col-md-6 col-md-6 center-block">
      <div class="thumbnail">
          <h3 class="align-top" align="center">{{nodeServer.name}}({{nodeServer.profileNum}})</h3>
          <p align="center">Current Status:
            <span *ngIf="nodeServer.isConnected" class='label label-success'>Connected</span>
            <span *ngIf="!nodeServer.isConnected" class='label label-danger'>Connected</span>
          </p>
          <div class="btn-group btn-group-justified">
            <button class="btn btn-default btn-sm" (click)=showNodes(nodeServer) style="width: 33%" role="button">Nodes <span class="badge">{{nodeServer.nodes.length}}</span></button>
            <button class="btn btn-default btn-sm" (click)=redirect(nodeServer.profileNum) style="width: 34%" role="button">Details <span *ngIf="nodeServer.notices.length > 0" class="badge">New Message</span></button>
            <button class="btn btn-default btn-sm" (click)=showConfirm(nodeServer) style="width: 33%" role="button">Delete</button>
          </div>
      </div>
    </div>
    <div *ngIf="nodeServer.type === 'unmanaged'" class="col-md-6 col-md-6 center-block">
      <div class="thumbnail">
          <h3 class="align-top" align="center">{{nodeServer.name}}({{nodeServer.profileNum}})</h3>
          <p align="center">Current Status: <span class='label label-default'>Unmanaged</span></p>
          <div class="btn-group btn-group-justified">
            <button class="btn btn-default btn-sm" style="width: 100%" role="button">No Details Available</button>
          </div>
      </div>
    </div>
  </div>
</div>
<app-nodepop [node]="selectedNode"></app-nodepop>
