<fieldset class="form-group">
  <legend>Polisy System Control</legend>
  <div class="row">
    <legend class="col-form-label col-2">Check Upgrade</legend>
    <div class="col-lg-2">
        <button class="form-control btn btn-primary mr-1" (click)="upgradecheck()" data-toggle="tooltip" data-placement="right" title="This will reboot your Polisy device.">Check Upgrade</button>
    </div>
  </div>
  <div class="row">
    <legend class="col-form-label col-2">Upgrade</legend>
    <div class="col-lg-2">
        <button class="form-control btn btn-primary" (click)="confirmSystem('upgrade')" data-toggle="tooltip" data-placement="right" title="This will reboot your Polisy device.">Upgrade</button>
    </div>
  </div>
  <div class="row">
    <legend class="col-form-label col-2">Reboot</legend>
    <div class="col-lg-2">
        <button class="form-control btn btn-primary" (click)="confirmSystem('reboot')" data-toggle="tooltip" data-placement="right" title="This will reboot your Polisy device.">Reboot</button>
    </div>
  </div>
  <div class="row">
    <legend class="col-form-label col-2">Shutdown</legend>
    <div class="col-lg-2">
        <button class="form-control btn btn-primary" (click)="confirmSystem('shutdown')" data-toggle="tooltip" data-placement="right" title="This will shutdown your Polisy device. You will have to power it back up manually">Shutdown</button>
    </div>
  </div><br>
  <hr style="border:1px solid;">
</fieldset>
<fieldset *ngIf="polisyDatetimes && currentDatetime" >
  <legend>Timezone</legend>
  <div class="row">
    <legend class="col-form-label col-2">Current Timezone</legend>
    <div class="col-lg-2 align-self-center text-white">{{currentDatetime.name}}</div>
  </div><br>
  <div class="row">
    <legend class="col-form-label col-2">Change Timezone</legend>
    <form (ngSubmit)="confirmTz()">
      <div class="form-inline mx-sm-3 mb-2">
        <select type="button" class="btn btn-primary dropdown-toggle btn-block form-control"
          style="width:auto;" (change)="selectTz($event.target.value)">
          <option *ngFor="let tz of polisyDatetimes; let i = index" [value]="i"
          [selected]="tz.name === currentDatetime.name">
            {{tz.name}} ({{tz.tzOffset}} )
          </option>
        </select>
        <input class="btn btn-primary mx-sm-3" value="Change" type="submit"
          data-toggle="tooltip" data-placement="right" title="This will change the timezone on your Polisy device.">
      </div>
    </form>
  </div>
  <hr style="border:1px solid;">

</fieldset>
<fieldset *ngIf="selectedNic">
  <legend>IPv4 Networking</legend>
  <div class="row">
    <legend class="col-form-label col-2">Network Interface</legend>
      <div class="form-inline mx-sm-3 mb-2">
        <select type="button" class="btn btn-primary dropdown-toggle btn-block form-control"
          style="width:auto;" (change)="selectNic($event.target.value)">
          <option *ngFor="let nic of polisyNics; let i = index" [value]="i"
          [selected]="nic.isRunning">
            {{nic.name}}
          </option>
        </select>
      </div>
  </div>
  <form *ngIf="this.selectedNic" [formGroup]="nicForm" class="form-group column" (ngSubmit)="confirmNic()">
    <div class="row">
      <legend class="col-form-label col-2">MAC Address</legend>
      <div class="col-lg-2 align-self-center text-white">{{selectedNic.mac}}</div>
    </div>
    <div class="row">
      <legend class="col-form-label col-2">Interface Type</legend>
      <div class="col-lg-2 align-self-center text-white">{{selectedNic.isWiFi ? "WiFi" : "Ethernet"}}</div>
    </div>
    <div class="row">
      <legend class="col-form-label col-2">Interface Enabled</legend>
      <div class="checkbox align-self-center col-2">
        <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="nicEnabled">
      </div>
    </div>
    <div class="row">
      <legend class="col-form-label col-2">DHCP Enabled</legend>
      <div class="checkbox align-self-center col-2">
        <input [disabled]="!nicEnabled" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="dhcpChecked">
      </div>
    </div>
    <div class="row" formGroupName="IPInfo">
      <legend class="col-form-label col-2">IPv4 Address</legend>
      <div class="col-lg-10">
        <input [readonly]="dhcpChecked || !nicEnabled" type="text" class="form-control" formControlName="ip">
      </div>
    </div>
    <div class="row" formGroupName="IPInfo">
      <legend class="col-form-label col-2">Netmask</legend>
      <div class="col-lg-10">
        <input [readonly]="dhcpChecked || !nicEnabled" type="text" class="form-control" formControlName="mask">
      </div>
    </div>
    <div class="row" formGroupName="IPInfo">
      <legend class="col-form-label col-2">IPv4 Gateway</legend>
      <div class="col-lg-10">
        <input [readonly]="dhcpChecked || !nicEnabled" type="text" class="form-control" formControlName="gateway"
          data-toggle="tooltip" data-placement="right" title="If DHCP is enabled, the gateway will show 0.0.0.0">
      </div>
    </div>
    <div class="row" formGroupName="IPInfo">
      <legend class="col-form-label col-2">DNS Server 1</legend>
      <div class="col-lg-10">
        <input [readonly]="dhcpChecked || !nicEnabled" type="text" class="form-control" formControlName="dns1"
        data-toggle="tooltip" data-placement="right" title="At least one DNS server is required. Google Public DNS is 8.8.8.8 and 8.8.4.4">
      </div>
    </div>
    <div class="row" formGroupName="IPInfo">
      <legend class="col-form-label col-2">DNS Server 2</legend>
      <div class="col-lg-10">
        <input [readonly]="dhcpChecked || !nicEnabled" type="text" class="form-control" formControlName="dns2"
        data-toggle="tooltip" data-placement="right" title="If you don't wish to have a secondary DNS server enter 0.0.0.0">
      </div>
    </div>
    <div class="row" formGroupName="IPInfo">
      <legend class="col-form-label col-2">DNS Server 3</legend>
      <div class="col-lg-10">
        <input [readonly]="dhcpChecked || !nicEnabled" type="text" class="form-control" formControlName="dns3"
        data-toggle="tooltip" data-placement="right" title="If you don't wish to have a tertiary DNS server enter 0.0.0.0">
      </div>
    </div>
    <div class="row">
      <legend class="col-form-label col-2"></legend>
      <input class="btn btn-primary mx-sm-3" value="Save" type="submit"
        data-toggle="tooltip" data-placement="right" title="This will change the configuration of this interface on your Polisy device.">
    </div>
    <hr style="border:1px solid;">
    <legend>IPv6 Networking</legend>
    <div class="row" formGroupName="IPInfo">
      <legend class="col-form-label col-2">IPv6 Address</legend>
      <div class="col-lg-10">
        <input [readonly]="!nicEnabled" type="text" class="form-control" formControlName="ipV6">
      </div>
    </div>
    <div class="row" formGroupName="IPInfo">
      <legend class="col-form-label col-2">IPv6 Gateway</legend>
      <div class="col-lg-10">
        <input [readonly]="!nicEnabled" type="text" class="form-control" formControlName="gatewayV6">
      </div>
    </div>
    <div class="row">
      <legend class="col-form-label col-2"></legend>
      <input class="btn btn-primary mx-sm-3" value="Save" type="submit"
        data-toggle="tooltip" data-placement="right" title="This will change the configuration of this interface on your Polisy device.">
    </div>
  </form>
</fieldset>