<div *ngIf="user">
  <form [formGroup]="profileForm" class="form-horizontal">
  <fieldset>
    <legend>User Settings</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" formControlName="username">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
      </div>
    </div>
     <input type="submit" class="btn btn-primary pull-right" value="Save" (click)="saveProfile(getDirtyValues(profileForm))">
  </fieldset>

</form>
